<!DOCTYPE html>
<html>
    <head> 
        <script src="/admin/static/js/admin.js"></script>
        <link rel="stylesheet" href="/admin/static/css/style.css"></link>
    </head>
    <body>
        <div class="container">
        <div class="sidebar item" id="skelname-sidebar"></div>
         <div class="body-content">
         <table class="styled-table">
            <thead>
                <tr id="table-head">
                  
                </tr>
            </thead>
            <tbody id="table-body">
               
               
            </tbody>
        </table>
    </div>
</div>
    </body>
</html>